langchain
langchain-core
langchain-community

langchain-google-genai
langchain-groq

python-dotenv

streamlit

fastapi
uvicorn

beautifulsoup4
pypdf
PyPDF2

chromadb
faiss-cpu

sentence-transformers

wikipedia
arxiv

langserve
cassio